<a href="https://colab.research.google.com/github/JoHanGyun/homework/blob/main/%EC%88%98%ED%96%89%EC%97%B0%EC%8A%B53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('I said "Hello" to you')
print("Let's go.")

I said "Hello" to you
Let's go.

In [ ]:
a=int(input("삼각형의 밑변 길이:"))
b=int(input("삼각형의 높이:"))
s=a*b*(1/2)
print("삼각형의 면적:%.1f"%(s))

삼각형의 밑변 길이:10
삼각형의 높이:3
삼각형의 면적:15.0

In [ ]:
h=int(input("현재 시:"))
m=int(input("현재 분:"))
if m+20>60 and h<23:
  h=h+1
  m=m-40
  print("20분 뒤에는",h,"시",m, "분 입니다.") 
elif h==23 and m+20>60:
  h=0
  m=m-40
  print("20분 뒤에는",h,"시",m, "분 입니다.") 
else:
  m=m+20
  print("20분 뒤에는",h,"시",m, "분 입니다.")

현재 시:13
현재 분:55
20분 뒤에는 14 시 15 분 입니다.

In [ ]:
a=int(input("숫자 입력:"))
if a>0:
  print(a)
else:
  print(-a)

숫자 입력:-10
10

In [ ]:
a=input("아이디를 입력하세요:")
b=int(input("회원 레벨을 입력하세요:"))
if a=='admin'or b==1:
  print("관리자입니다.")
else:
  print("관리자가 아닙니다.")

아이디를 입력하세요:admin
회원 레벨을 입력하세요:2
관리자입니다.

In [ ]:
a=int(input("첫 번째수:"))
b=int(input("두 번째수:"))
c=int(input("세 번째수:"))
if a>b>c or a>c>b:
  print("가장 큰 수는 ",a,"입니다.")
elif b>c>a or b>a>c:
  print("가장 큰 수는 ",b,"입니다.")  
else:
  print("가장 큰 수는 ",c,"입니다.")

첫 번째수:10
두 번째수:20
세 번째수:30
가장 큰 수는  30 입니다.

In [ ]:
a=int(input("나이 입력:"))
if a<=7 and a>0:
  print("어린이")
elif a<=13 and a>=8:
  print("초등학생")  
elif a<=16 and a>=14:
  print("중학생")
elif a<=19 and a>=17:
  print("고등학생")
else:
  print("성인")

나이 입력:17
고등학생

In [ ]:
a=int(input("점수 입력:"))
if a>=90:
  print("A등급입니다.")
elif a>=80:
  print("B등급입니다.")
elif a>=70:
  print("C등급입니다.") 
else:
  print("F등급입니다.")

점수 입력:90
A등급입니다.

In [ ]:
a=int(input("숫자 입력:"))
if(a%3==0):
  if(a%5==0):
    print("3과 5의 배수")
  else:
    print("3의 배수")
else:
  print("3의 배수 아님")

숫자 입력:15
3과 5의 배수

In [ ]:
for i in range(1,21,2):
  print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
s=0
for i in range(1,11):
  s+=i
  print("num의 값:",i,"=> 합계:",s)

num의 값: 1 => 합계: 1
num의 값: 2 => 합계: 3
num의 값: 3 => 합계: 6
num의 값: 4 => 합계: 10
num의 값: 5 => 합계: 15
num의 값: 6 => 합계: 21
num의 값: 7 => 합계: 28
num의 값: 8 => 합계: 36
num의 값: 9 => 합계: 45
num의 값: 10 => 합계: 55

In [ ]:
f=1
a=int(input("숫자 입력:"))
for i in range(1,1+a):
  f=f*i
print(a,"!= ",f)

숫자 입력:10
10 !=  3628800

In [ ]:
for i in range(10,51):
  if(i%3!=0):
    print(i,end=" ")

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [ ]:
num=int(input("숫자 입력:"))

while num!=0:
  print(num%10,end='')
  num=num//10

숫자 입력:10293
39201

In [ ]:
for i in range(1,10):
  print("2*",i,"=",i*2)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18

In [ ]:
for i in range(9,0,-1):
  print("2*",i,"=",i*2)

2* 9 = 18
2* 8 = 16
2* 7 = 14
2* 6 = 12
2* 5 = 10
2* 4 = 8
2* 3 = 6
2* 2 = 4
2* 1 = 2

In [ ]:
max=0
a=0
b=0

for i in range(i,100):
  j=100-i
  current=i*j
  if max<current:
    max=current
    a=i
    b=j
print(f"최대가 되는 경우:{a}*{b}={max}")

최대가 되는 경우:50*50=2500

In [ ]:
a=int(input("정수를 입력하시오:"))
for i in range(1,a+1):
  if a%i==0:
    print(i,end=" ")

정수를 입력하시오:6
1 2 3 6

In [ ]:
a=int(input("입력할 숫자 개수:"))
max=0
for i in range(a):
  num=int(input("숫자 입력:"))
  if num>max:
    max=num
    maxi=i+1
print("가장 큰 수는 %d번째 수입니다."%(maxi))

입력할 숫자 개수:5
숫자 입력:20
숫자 입력:8
숫자 입력:123
숫자 입력:45
숫자 입력:11
가장 큰 수는 3번째 수입니다.

In [ ]:
c=0
for i in range(1,100):
  if i%4==0:
    print(i,end=" ")
    c+=1
    if c%7==0:
      print()

4 8 12 16 20 24 28
32 36 40 44 48 52 56
60 64 68 72 76 80 84
88 92 96

In [41]:
a=int(input("숫자 입력:"))
c=0
for i in range(1,a+1):
  if i%10==1:
    c+=1
print("일의 자리가 1인 수는 %d개"%(c))

숫자 입력:51
일의 자리가 1인 수는 6개

In [42]:
print("3+4=?")

while True:
  a=int(input("정답을 입력하시오:"))
  if a==7:
    break
print("참 잘했어요!")

3+4=?
정답을 입력하시오:54
정답을 입력하시오:7
참 잘했어요!